body
{
    background-image:linear-gradient(rgba(255, 255, 255, 0.384), rgba(255, 255, 255, 0.384)),  url(images/whitewall.jpg);
    height:150vh;
    background-position: center top;
    background-attachment: fixed;
    background-size:cover;
}

.buttons
{
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: dimgrey;
    padding:1.5vh;
    width: 100%;
}

.btns
{
    font-size: 20px;
    margin-left:240px;
    color:rgb(255, 255, 255);
    text-decoration: none;
}

.btns:hover
{
    background-color: rgba(255, 255, 255, 0.692);
    color: dimgrey;
    border: dimgrey;
    font-weight: bold;
    border-radius: 10px;
}

h1
{
    display:flex;
    justify-content: center;
    margin-top:70px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color:steelblue;
}

img{
    position: absolute;
    max-width: 40vh;
    width:50%;
    height:60%;
    margin-left: 250px;
}

img:hover{
    transform: scale(1.3);
}


.movie
{
    position: absolute;
    font-size: 1.5vw;
    left: 64vw;
    margin-top: 400px;
    color:slategrey;
    transform: translate(-50%, -50%);
}
a{
    text-decoration: none;
    color:royalblue;
}

a:hover{
    background-color: darkgrey;
    border-radius: 10px;
}

#rent{
    border-radius: 30px;
    color: rgb(63,186,212);
    border: 1px solid rgb(105,198,221);
    background-color: rgb(246,247,253);
    width: 150px;
    height: 45px;
    outline:none;
}
#rent:hover{
    border: 3px solid rgb(105,198,221);
    font-weight: bold;
}


iframe
{
    position: absolute;
    left: 400px;
    top:800px;
    transform: translate(-50%, -50%);
    max-width: 70vh;
    max-height: 100vh;
    width:100%;
    padding-bottom:20px;
}

@media only screen and (max-width:800px)
{

    .btns
    {
        margin-left: 25px;
    }

    img{
        max-width: 25vh;
        width:40%;
        height:40%;
        margin-left: 10px;
    }

    .movie
    {
        font-size: 3vw;
        width: 280px;
        left: 70vw;
        margin-top: 300px;
    }

    iframe
    {
        left: 100px;
        top:550px;
        max-width: 30vh;
        max-height: 40vh;
        width:40%;
    }

    h1
    {
        font-size:25px;
        margin-top:50px;
    }

    #rent{
        width:70px;
        height: 30px;
    }

}
