
body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande';
    background-image:linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.384)),  url(images/white_parallax_brick_full.jpg);
    height:150vh;
    background-position: center top;
    background-attachment: fixed;
    background-size:cover;
}


.buttons
{
    position: absolute;
    left: 50%;
    top: 4.7%;
    transform: translate(-50%, -50%);
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    z-index:1;
    background-color: dimgrey;
    padding:1.5vh;
    width: 100%;
}

.btns
{

    font-size: 20px;
    margin-left:320px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.3s ease;
}

.btns:hover
{
    background-color: rgba(255, 255, 255, 0.692);
    color: dimgrey;
    border: dimgrey;
    font-weight: bold;
    transition: 0.7s ease;
}


h1
{
    padding: 2px 50px;
    position: absolute;
    left:50%;
    top:20%;
    color: dimgrey;
    font-size: 6.1vh;
    font-weight: bold;
    transform: translate(-50%, -50%);
    

}


img{
    position: absolute;
    max-width: 40vh;
    width:50%;
    height:60%;
    border-radius: 10px;
}

#shawshank
{
    top:130vh;
    left:40vw;
    margin-top: 240px;
    padding-bottom:20px;
}

#theGodFather
{
    top:130vh;
    left:20vw;
    margin-top: 240px;
    padding-bottom:20px;
}

#blackKnight
{
    top:85vh;
    left:60vw;
    margin-top:120px;
}

#forestGump
{
    top:85vh;
    left:40vw;
    margin-top:120px;
}

#greenMile
{
    top:85vh;
    left:20vw;
    margin-top:120px;
}

#seven
{
    top:40vh;
    left:60vw;
}

#theSilenceOfTheLambs
{
    top:40vh;
    left:40vw;
}

#genezis
{
    top:40vh;
    left:20vw;
}
#interstellar
{
    top:130vh;
    left:60vw;
    margin-top: 240px;
    padding-bottom:20px;
}



@media only screen and (max-width:800px)
{
    /* For tablets: */


    img{
        position: absolute;
        max-width: 15vh;
        width:45%;
        height:40%;
        border-radius: 10px;
    }


    .btns
    {

        font-size: 20px;
        margin-left: 70px;
        color:rgb(255, 255, 255);
        text-decoration: none;
        transition: 0.3s ease;
    }



}



